{% extends 'traininglog/base.html' %}

{% block title %}
goal
{% endblock %}

    {% block content %}
        <h4>Fitness goal: </h4>
        <br>
        <form method="post">
          {% csrf_token %}
          <strong>Desribe your goal</strong>
          <p>{{form.goal_description}}</p>
          <br>
          <strong>Give yourself a daily training plan to achieve your goal</strong>
          <p>{{form.goal_daily}}</p>
          <br>
          <strong>Date to achieve goal by</strong>
          <p>{{form.goal_date}}</p>
          <input class="btn btn-primary" type="submit" value="Update">
        </form>
    {% endblock content %}