{% extends 'traininglog/base.html' %}

{% block title %}
home
{% endblock %}

  {% block content %}
  {% if user.is_authenticated %}
    {% if recent_workouts %}
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">your training today is: 6x400m intervals</h5>
              <p class="card-text">Try to hit 1.40 for every 400m and take a 1 minute break in between!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">your goal is: {{ user.profile.goal }}</h5>
              <p class="card-text">by {{ user.profile.goal_date }} for your ippt</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <a class="btn btn-primary btn-lg" href="/newlog1" role="button">record log</a>
    {% else %}
      <h4>you dont have any workouts yet!</h4>
      <a class="btn btn-primary btn-lg" href="/workout" role="button">Create a workout</a>
    {% endif %}
  {% else %}
    <div class="">
      <h1 class="display-4">Training Log</h1>
      <p class="lead">Dont let your dreams be dreams</p>
      <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register!</a>
      </p>
    </div>
  {% endif %}
  {% endblock content %}