{% extends 'traininglog/base.html' %}

{% block title %}
home
{% endblock %}

  {% block content %}
  {% if user.is_authenticated %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">your training today is: 6x400m intervals</h5>
            <p class="card-text">Try to hit 1.40 for every 400m and take a 1 minute break in between!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">your goal is: 9 minutes for 2.4km</h5>
            <p class="card-text">by 1/8/2022 for your ippt</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <a class="btn btn-primary btn-lg" href="/chooselog" role="button">record log</a>
  {% else %}
    <div class="">
      <h1 class="display-4">Training Log</h1>
      <p class="lead">Dont let your dreams be dreams</p>
      <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register!</a>
      </p>
    </div>
  {% endif %}
  {% endblock content %}