{% extends 'traininglog/base.html' %}

{% block title %}
home
{% endblock %}

  {% block content %}
  {% if user.is_authenticated %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Task for today: </h5>
            <p class="card-text">{{user.goal.goal_daily}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your goal is: {{user.goal.goal_description}}</h5>
            <p class="card-text">by {{user.goal.goal_date}}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <a href="/goal" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update Goal</a>
    <hr>
    <a href="/newlog" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Record Log</a>
  {% else %}
    <div class="">
      <h1 class="display-4">Training Log</h1>
      <p class="lead">Dont let your dreams be dreams</p>
      <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register!</a>
      </p>
    </div>
  {% endif %}
  {% endblock content %}