{% extends 'traininglog/base.html' %}

{% block title %}
log
{% endblock %}

    {% block content %}
        <h1>training: 6x400m</h1>
        <p>timings: </p>
        <ol>
            <li>{{log.time1}}</li>
            <li>{{log.time2}}</li>
            <li>{{log.time3}}</li>
            <li>{{log.time4}}</li>
            <li>{{log.time5}}</li>
            <li>{{log.time6}}</li>
        </ol>
        <br>
        <p>
        <a href="{% url 'traininglog:editlog' log.id %}"><button type="button" class="btn btn-success">Edit</button></a>
        <a href="{% url 'traininglog:deletelog' log.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
        </p>
    {% endblock content %}