{% extends 'traininglog/base.html' %}

{% block title %}
Logs
{% endblock %}

  {% block content %}
  <h3>Track your logs here!</h3>
  <hr>
    {% for log in logs %}
      <ul>
        <li>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'traininglog:log' log.id %}">{{log.title}}</a></h5>
              <p class="card-text">- {{log.pub_date}}</p>
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
  {% endblock content %}